<div class="container-fluid">
   <nav class="main-nav">

    <div class="sidenav">
          <a class="navbar-brand js-scroll-trigger" routerLink="/">
           <img class="nav-icon" src="assets/white-sunsignthumb.png" alt=""><br></a>
<!-- ROUTING -->
    <a routerLink="/">  <img class="nav-icon" src="assets/home-4-32.png" alt=""> <h4> Home </h4></a>

    <a routerLink="/about">  <img class="nav-icon" src="assets/question-mark-2-32.png" alt=""> <h4> About </h4></a>
    <a routerLink="/arduino">  <img class="nav-icon" src="assets/wireless-32.png" alt=""> <h4> App </h4></a>


    </div>
  </nav>

</div>
