<div class="main">
<div class="container-fluid landing-container px-0">
   <header id="landing">
      <!-- <div class="view"> -->
      <div class="full-bg-img">
         <div class="container container-style">
            <div class="row">
               <div class="col-md">
                  <h1 class="landing-header"> Sign language made simple. </h1>
                  <hr class="left">
                  <p class="paragraph-style"> Try our new Arduino app. </p> <br>
               </div>

            </div>
         </div>
      </div>

</header>
</div>
<div class="container home-font">
    <p class="intro"> We've created a sign language glove! </p>
    <hr class ="line">


  <div class="row">
    <div class="col-lg cards">
      <img class="icons" src="assets/arduino.png" alt="Arduino">
      <h4 class="infoCard">Arduino</h4>

        <p class="info"> We used an Arduino Uno to create our device
        that can be used to show sign language on our app.</p>
    </div>
    <div class="col-lg cards">
      <img class="icons" src="assets/sign.png" alt="Arduino">
      <h4 class="infoCard">Sign Language</h4>

        <p class="info"> We created our device to allow easier
        communication between people who can and can not
      speak sign language</p>
    </div>
    <div class="col-lg cards">
      <img class="icons" src="assets/iot.png" alt="Arduino">
      <h4 class="infoCard">IoT</h4>

        <p class="info"> Our device links to this web-app (in the app page).
        Wearing the glove and performing the sign language alphabet
      will display it in our app.</p>
    </div>
  </div>


</div>
</div>
